{{ $gallery := partial "get-gallery.html" . }}
{{ with $gallery }}
  {{ $g := . }}
  <a class="card" href="{{ $g.page.RelPermalink }}" title="{{ $g.page.Title }}">
    <figure style="background-color: {{ $g.color }}">
      <img class="lazyload" width="{{ $g.thumbnail.Width }}" height="{{ $g.thumbnail.Height }}" data-src="{{ $g.thumbnail.RelPermalink }}" alt="{{ $g.page.Title }}" />
    </figure>
    <div>
      <h2>{{ $g.page.Title }}</h2>
      <p>
        {{ if gt $g.albumCount 0 }}
          {{ T "albumCount" (dict "count" ($g.albumCount | lang.FormatNumber 0) "photoCount" ($g.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) }}
        {{ else }}
          {{ T "photoCount" ($g.imageCount | lang.FormatNumber 0) }}
        {{ end }}
      </p>
    </div>
  </a>
{{ end }}
